<div class="row mt-5">
  <div class="col-lg-8 col-md-12 col-12 mx-auto">
    <div class="row shadow-lg p-3">
      <h3 class="card-title text-center mb-3">Sobre mí</h3>
      <p class="card-text">
        Soy una persona responsable, con
        buena adaptación y capacidad
        de trabajar en equipo. Además,
        me considero una persona
        autodidacta y con ganas de
        aprender nuevas tecnologías. Si
        bien cuento con conocimientos
        tanto back-end como front-end,
        me interesaría aumentar mis
        conocimientos en el back-end,
        para poder convertirme en un
        futuro en desarrollador full-stack.
      </p>
      <hr class="w-75 mx-auto">
        <h4 class="card-title text-center mb-3">Información básica</h4>
        <p class="text-center"><b>Fecha de nacimiento:</b> 17/05/1995</p>
        <p class="text-center"><b>Domicilio:</b> Monte Grande, Buenos Aires, Argentina</p>
        <p class="text-center"><b>Celular:</b> 1133300167</p>
    </div>
  </div>
</div>
