<div class="container">
  <div class="row align-items-center">
    <div class="col-8 mt-4 fs-5 transparent-footer text-center">
      <div class="p-3">
        <a href="#education" class="text-decoration-none text-uppercase p-3">Educación</a>
      </div>
      <div class="p-3">
        <a href="#trainings" class="text-decoration-none text-uppercase p-3">Capacitaciones</a>
      </div>
      <div class="p-3">
        <a href="#projects" class="text-decoration-none text-uppercase p-3">Proyectos</a>
      </div>
      <div class="p-3">
        <a href="#skills" class="text-decoration-none text-uppercase p-3">tecnologías</a>
      </div>
    </div>
    <div class="col-4 justify-content-end">
      <a target="_blank" class="text-decoration-none" href="https://www.linkedin.com/in/daniel-gomez-552836176/">
        <button class="btn purple-button btn-circle btn-xl me-3">
          <i class="fab fa-linkedin"></i>
        </button>
      </a>
      <br>
      <a target="_blank" href="https://github.com/DanGo95">
        <button class="btn purple-button btn-circle btn-xl mt-3">
          <i class="fab fa-github"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="row mx-auto">
    <p class="text-white text-center p-3 fs-5">@2022</p>
  </div>
</div>
