<nav class="navbar sticky-top navbar-expand-lg navbar-bg">
  <div class="container transparent-header d-inline-flex">
    <a class="navbar-brand text-uppercase ms-3" href="#">Gómez Daniel</a>
    <button class="navbar-toggler me-3 border border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 fs-5 ms-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-uppercase fst-italic" href="#education">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fst-italic" href="#trainings">Capacitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fst-italic" href="#projects">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fst-italic" href="#skills">Tecnologías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fst-italic" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
