<app-header></app-header>
<div class="container-fluid">
  <div class="row intro">
    <div class="col-12 mx-auto position-relative mt-5">
      <img src="/assets/images/portada.jpg" class="rounded img-fluid mx-auto d-block mt-5" width="200px">
      <h1 class="text-white text-center mt-3">Daniel Alejandro Gómez</h1>
      <h4 class="text-white text-center mt-3">Desarrollador frontend Jr</h4>
      <a href="https://drive.google.com/file/d/1Mm0ZDK1fcGsEHacrQcMZyUUlSimWWnFK/view?usp=sharing" target="_blank" class="text-decoration-none">
        <button class="btn btn-outline-light mx-auto d-block p-3 mb-5 mt-3 fw-bold">Descargar CV</button>
      </a>
      <div class="position-absolute top-100 start-50 translate-middle">
        <a target="_blank" href="https://www.linkedin.com/in/daniel-gomez-552836176/">
          <button class="btn purple-button btn-circle btn-xl me-3">
            <i class="fab fa-linkedin"></i>
          </button>
        </a>
        <a target="_blank" href="https://github.com/DanGo95">
          <button class="btn purple-button btn-circle btn-xl ">
            <i class="fab fa-github"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <app-about-me></app-about-me>
    <app-education></app-education>
    <app-trainings></app-trainings>
    <app-projects></app-projects>
  </div>
  <!-- <app-skills></app-skills> -->
  <div class="row intro mt-5">
    <app-contact></app-contact>
  </div>
</div>
