<div class="row">
  <div class="col-md-12 col-lg-8 col-12 mx-auto mt-5">
    <h2 class="text-center mt-5">
      Tecnologías
    </h2>
  </div>
</div>
<div class="row purple-bg mt-5">
  <div class="col">
    <img src="/assets/images/angular.png" class="img-fluid" height="150px" alt="">
    <p class="text-center text-white">ANGULAR</p>
  </div>
  <div class="col">
    <img src="/assets/images/firebase.png" class="img-fluid" height="150px" alt="">
    <p class="text-center text-white">FIREBASE</p>
  </div>
  <div class="col">
    <img src="/assets/images/nodejs.png" class="img-fluid" height="150px" alt="">
    <p class="text-center text-white">NODEJS</p>
  </div>
  <div class="col">
    <img src="/assets/images/api.png" class="img-fluid" height="150px" alt="">
    <p class="text-center text-white">CONSUMO DE APIs</p>
  </div>
  <div class="col">
    <img src="/assets/images/bootstrap.png" class="img-fluid" height="150px" alt="">
    <p class="text-center text-white">BOOTSTRAP</p>
  </div>
</div>
